<%# public/マイページ %>

<div class="container">
    <div class="row">
        <div class="col-12">
        <h2><div class="p-3 mb-2 bg-light text-black">マイページ</div></h2>
        
        <p>登録情報</p>
        
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="info col-2">氏名</td>
                    <td class="text-left"><%= current_customer %></td>
                </tr>
        
                <tr>
                    <td>カナ</td>
                    <td><%= current_customer %></td>
                </tr>
        
                <tr>
                    <td>郵便番号</td>
                    <td><%= current_customer %></td>
                </tr>
        
                <tr>
                    <td>住所</td>
                    <td><%= current_customer %></td>
                </tr>
        
                <tr>
                    <td>電話番号</td>
                    <td><%= current_customer %></td>
                </tr>
        
                <tr>
                    <td>メールアドレス</td>
                    <td><%= current_customer %></td>
                </tr>
        
            </tbody>
        </table>
        
        <p>配送先</p>
        <p>注文履歴</p>
    </div>
</div>