<!--くまさん宿題事項-->
  <!--・「全xx件中xx件表示」みたいにしたい-->
  <!--・pagenationの位置調整-->
<!--くまさん宿題事項-->

<div class="container">
  <div class="row">
    <div class="col-2">
      <table class="genres-sidebar table">
        <tr>
          <th>ジャンル検索</th>
        </tr>
        <tr>
          <td>余裕があれば実装</td>
        </tr>
      </table>
    </div>
    <div class="col-10">
      <h1>商品一覧 (全<%= Product.all.count %>件)</h1>
      <div class="products-index-items row">
        <% @products.each do |product| %>
          <div class="products-index-item col-3">
            <%= link_to product_path(product.id) do %>
              <div class="products-index-item-image mb-2">
                <%= attachment_image_tag product, :product_image, format: "jpeg", fallback: "no_image_kuma.jpg", class:"col-12 p-0" %>
              </div>
            <% end %>
            <p><strong><%= product.name %></strong></p>
            <p>¥ <%= product.tax_in_price %></p>
          </div>
        <% end %>
      </div>
      <div class="pagenationc col-7 mx-auto">
        <%= paginate @products %>
      </div>
    </div>
  </div>
</div>