<div class="container">
  <div class="row">
    <div class="col-2">
      <table class="genres-sidebar table">
        <tr>
          <th>ジャンル検索</th>
        </tr>
        <tr>
          <td>余裕があれば実装</td>
        </tr>
      </table>
    </div>
    <div class="col-10">
      <div class="top-info mb-3">
        <div class="top-info-image d-flex align-items-center">
          <div class="col-8 mx-auto p-5 text-white top-info-text">
            <p>ようこそ､ながのCAKEへ！</p>
            <p>このサイトは、ケーキ販売のECサイトになります。</p>
            <p>会員ではない方も商品を閲覧いただけますが、</p>
            <p>ご購入の際は会員登録が必要となります。</p>
          </div>
        </div>
      </div>
      <div class="new-products">
        <h1>新着商品</h1>
        <div class="new-products-items">
          <div class="row">
            <% @products.last(4).reverse_each do |product| %>
              <div class="new-product-item col-3">
                <div class="new-product-item-image">
                  <%= link_to product_path(product.id) do %>
                    <%= attachment_image_tag product, :product_image, format: "jpeg", fallback: "no_image_kuma.jpg", class:"col-12 p-0" %><br>
                  <% end %>
                </div>
                <div class="new-product-item-info mt-2">
                  <p><%= product.name %></p>
                  <p class="mt-0">¥<%= product.base_price %></p>
                </div>
              </div>
            <% end %>
          </div>
          <p class="text-right mt-2">
            <%= link_to "全ての商品を見る", products_path, class:"text-right" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
