<h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>
      <%= form_with model: @customer, url: admin_customer_path(@customer), local:true do |f| %>
        <div class="form-group">
          <h4>会員ID</h4>
          <%= @customer.id %>
        </div>
        <div class="form-group">
          <h4><%= f.label "氏名" %></h4>
          <%= f.text_field :last_name, class: "form-control" %>
          <%= f.text_field :first_name, class: "form-control"%>
        </div>
          </div>
        <div class="form-group">
          <h4><%= f.label "フリガナ" %></h4>
          <%= f.text_field :last_name_kana, class: "form-control" %>
          <%= f.text_field :first_name_kana, class: "form-control" %>
        </div>
        <div class="form-group">
          <h4>郵便番号</h4>
          <%= f.text_field :postcode, class: "form-control" %>
        </div>
        <div class="form-group">
          <h4>住所</h4>
          <%= f.text_field :address, class: "form-control" %>
        </div>
        <div class="form-group">
          <h4>電話番号</h4>
          <%= f.text_field :phone_number, class: "form-control" %>
        </div>
        <div class="form-group">
          <h4>メールアドレス</h4>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "会員ステータス" %>
          <%= f.radio_button :is_deleted, :"有効" %>
          <%= f.label :is_deleted, "有効", value: :true %>
          <%= f.radio_button :is_deleted, :"退会" %>
          <%= f.label :is_deleted, "退会", value: :false %>
        </div>
        <div class="form-group">
          <%= f.submit "変更を保存" %>
        </div>
    <% end %>