<div class="container">
  <div class="row">
    <div class= "col-4 bg-light">
      <h2>ショッピングカート</h2>
    </div>
    <div class="col-10">
      <table class="table">
        <thead>
          <th>
            <p>商品名</p>
          </th>
          <th>
            <p>単価(税込)</p>
          </th>
          <th>
            <p>数量</p>
          </th>
          <th>
            <p>小計</p>
          </th>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <!-- 商品画像 -->
              <%= attachment_image_tag cart_item.product, :product_image, size: "60*60", format: "jpeg", fallback: "noimage.jpg" %>
              <!-- 商品名 -->
              <p><%= cart_item.product.name %></p>
            </td>
            <td>
              <!-- 商品の税抜き価格に消費税を加算させる -->
              <%= cart_item.product.base_price * 1.08 %>
            </td>
            <td>
              <!--数量の変更-->
              <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: patch, local: true do |f| %>
                <%= f.select :quantity, (1..1000) %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


