<!--５ページ-->

<div class="container">
  <div class="row">
    <div class="mt-1 col-8">
     <h3>商品一覧</h3>
    </div>       <!--+ボタンは新規登録画面へ-->
    <div class="mb-3 col-3 text-right">
      <button type="button" class="btn btn-light shadow-sm rounded-circle p-0" style="width:3rem;height:3rem;">
        <%= link_to "＋", new_admin_product_path %>
      </button>
    </div>

      <div class="col-10 mx-auto">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.id %></td>
              <td>
                <%= link_to admin_product_path(product.id) do %>
                  <%= product.name %>
                <% end %>
              </td>
              <td><%= product.no_tax_price %></td>
              <td><%= product.genre.name %></td>
              <td><% if product.sale_status == true %>
                  <p>販売中</p>
                <% elsif product.sale_status == false %>
                  <p>販売停止中</p>
                <% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
       <%= paginate @products %>
    </div>



    </div>

  </div>

</div>

