<!--6ページ-->
<div class="container">
  <h3>商品詳細</h3>


 <div class="row">
    <div class="col-md-5 product-detail-image mt-5">
          <!--<img width="100%" height="100%" src="/assets/no_image_kuma-d2885aa38b30459497e11dbe886eb75bf2fa379889bddc76542c03ab1a954d5d.jpg">-->
          <%= attachment_image_tag @product, :product_image, format: 'jpeg', fallback: 'no_image_kuma.jpg', size: "300x220" %>
    </div>

    <div class="mt-5 col-md-6">
      <table class="table">
        <tr>
          <td>商品名</td>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @product.description %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @product.genre.name %></td>
        </tr>
        <tr>
          <td>税込価格(税抜価格)</td>

          <!--.to_iは整数にするメソッド.to_s(:delimited)は３桁で区切るメソッド&nbsp;は半角スペース-->
          <td><%= ((@product.base_price*1.08).to_i).to_s(:delimited) %>&nbsp;(<%= (@product.base_price).to_s(:delimited) %>)円</td>

        </tr>
        <tr>
          <td>販売ステータス</td>
          <td><% if @product.sale_status == true %>
              <p>販売中</p>
              <% elsif @product.sale_status == false %>
              <p>販売停止中</p>
              <% end %>
          </td>
        </tr>
      </table>

        <%= link_to '編集する', edit_admin_product_path, class: 'btn btn-secondary btn-sm' %>

   </div>
  </div>
</div>

