<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <h2>注文情報入力</h2>
        <%= form_with url: confirm_orders_path, local: true do |f| %>

          <!--支払い方法選択　ここから-->
          <div>
            <%= f.label "支払い方法" %>
          </div>
          <div>
            <!--「クレジットカード」を選択するボタンを作成する。-->
            <%= f.radio_button :payment_method, 0 %>クレジットカード
            <!--「銀行振込」を選択するボタンを作成する。-->
            <%= f.radio_button :payment_method, 1 %>銀行振込
          </div>
          <!--支払い方法選択　ここまで-->

          <!--お届け先選択　ここから-->
          <div>
            <%= f.label "お届け先" %>
          </div>
          <div>
            <!--「ご自身の住所」を選択するボタンを作成する。-->
            <%= f.radio_button :delivery, 1 %>ご自身の住所
          </div>
          <div>
            〒<%= @customer.postcode%> <%= @customer.address %><br>
            <%= @customer.full_name %>
          </div>
          <div>
            <!--「登録済住所から選択」を選択するボタンを作成する。-->
            <%= f.radio_button :delivery, 2 %>登録先住所から選択
          </div>
          <div>
            <!--登録済住所から選択するプルダウンを作成する。-->
            <%= f.select :sellect_delivery, @array_deliveries %>
          </div>
          <div>
            <!--「新しいお届け先」を選択するボタンを作成する。-->
            <%= f.radio_button :delivery, 3 %>新しいお届け先
          <div>
            <!--新しいお届け先の郵便番号を入力するフォームを作成する。-->
            <%= f.label "郵便番号(ハイフンなし)" %>
            <%= f.text_field :postcode %>
          </div>
          <div>
            <!--新しいお届け先の住所を入力するフォームを作成する。-->
            <%= f.label "住所" %>
            <%= f.text_field :address %>
          </div>
          <div>
            <!--新しいお届け先の宛名を入力するフォームを作成する。-->
            <%= f.label "宛名" %>
            <%= f.text_field :name %>
          </div>
          <!--お届け先選択　ここまで-->

          <div>
            <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>